#container{
  margin: 50px 50px 50px 0;
  text-align: center;
}

th {
  background-color: #E6E6E6;
  text-align: center;
}

#deleteButton {
  width:10%;
}

#completeCorrection {
  width:10%;
margin-right: 7px;
}

.modal-footer {
  border-top: 0px;
}

.modal-header {
  border-bottom: 0px;
}

.btn:focus {
  box-shadow: none;
}

.container a {
  color: #f15a25;
}

.container a:hover {
  color: #f15a25;
  font-weight: bolder;
}

#btn-area>* {
  float:right;
}

#modalBtn {
  width : 15%;
}